body {
  font-family: "Anonymous Pro", monospace;
  font-family: "Lato", sans-serif;
  color: #000000;
  line-height: 1;

  font-size: 18px;

  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-right: 115px;
  padding-left: 115px;
}

/* buttons */
.btn {
  padding: 17px 32px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;

  border-radius: 4px;
  transition: all ease 1s;
}
.btn:hover {
  cursor: pointer;
}
.btn--left {
  margin-right: 30px;
}
/* buttons modifiers */
.main--btn-dark {
  background-color: #3e9cdc;
  color: #fff;
  border: 1px solid #fff;
}
.main--btn-dark:hover {
  background-color: #272733;
  border-color: #3d4050;
}
.main--btn-light {
  background-color: #fff;
  color: #2a2b30;
  border: 1px solid #6f6d7b;
}
.main--btn-light:hover {
  color: #fff;
  background-color: #272733;
}
.btn--details {
  transition: all 1s ease;
  font-weight: 600;
  color: #272733;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #3e9cdc;

  /* opacity: 0; */
  /* overflow: hidden;
  position: absolute;
  z-index: -1; */
}
.btn--details:hover {
  background-color: #272733;
  color: #fff;
}
.btn--details:hover .det-icon {
  fill: #fff;
}
/* buttons */

/* header */
.header {
  position: relative;
  z-index: 10;
  background: rgba(16, 16, 29, 0.9);
  /* height: 100px; */
}
.header__wrapper {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  color: #fff;
  font-size: 0.7222rem;
}
.nav__item {
  margin-left: 60px;
}
.nav__item:hover {
  cursor: pointer;
}

/* burger btn */
/* .burger-btn {
  display: none;
  width: 27px;
  height: 22px;
  position: relative;
}
.burger-btn__bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  display: block;
}
.burger-btn__bar-1 {
  top: 0px;
}
.burger-btn__bar-2 {
  top: 8px;
}
.burger-btn__bar-3 {
  top: 16px;
} */

.navbar {
  /* width: 100%; */
  /* box-shadow: 0 1px 4px rgb(146 161 176 / 15%); */
  display: block;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 62px; */
  width: 220%;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.722rem;
  /* padding: 0.7rem; */
}
.nav__item.active a {
  color: #43abf0;
}
.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  /* height: 60px; */
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 230px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
.checkbox {
  display: none;
}
.nav-container .hamburger-lines {
  display: none;
  height: 32px;
  width: 32px;
  position: absolute;
  top: 20px;
  right: 230px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 124%;
  border-radius: 10px;
  background: #fff;
}

.nav-container .hamburger-lines .line1 {
  /* transform-origin: -27% 80%; */
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  display: flex;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}

/* header */

/* main */
.main {
  background: center / cover no-repeat url("../assets/main-img.jpg");
}
.main__content {
  padding: 203px 0 203px 0;
}
.main__title {
  width: 65%;
  padding-top: 203px;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
.main__bottom {
  margin: 80px 0;
}
.main__bottom-subtitle {
  font-weight: 700;
}
.blue--text {
  color: #3e9cdc;
}
.main--bottom-text {
  font-size: 20px;
  line-height: 24px;
}
/* main list */
.main__bottom-list {
  margin-top: 8px;
  margin-left: 8px;
  font-weight: 400;
}
.main__bottom-list.ul--dashed {
  list-style-type: none;
}
.main__bottom-li {
  margin-left: 11px;
  position: relative;
}
.main__bottom-li:before {
  content: "";
  background-color: #000;
  width: 5px;
  height: 1px;
  position: absolute;
  left: -11px;
  top: 50%;
  transform: translateY(50%);
}
/* main list */

/* Ordering */
.ordering {
  text-align: center;
  padding: 170px 0 180px 0;
  background: center / cover no-repeat url("../assets/order-bg.jpg");
}
.ordering__title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 800;
  line-height: 1;
  color: #fff;
}
.ordering__subtitle {
  color: #bbbbbb;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 80px;
}
/* ordering middle */
.ordering__middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.ordering__input {
  padding: 12px 10px;
  transition: all 1s ease;
  color: #3e9cdc;
}
.ordering__input:focus {
  background-color: #272733;
  color: #fff;
  border-color: #3d4050;
}
.ordering__input::placeholder {
  color: #272733;
}
.ordering__input:focus::placeholder {
  color: #fff;
}
.ordering__middle-item {
  color: #fff;
  width: 20%;

  position: relative;
}
/* ordering aftel elements dots */

.ordering__middle-item .circle1 {
  position: sticky;
  display: block;
}

.ordering__middle-item .circle1:before {
  right: -2%;
}
.ordering__middle-item .circle1:after {
  right: -11%;
}
.ordering__middle-item .circle2 {
  position: sticky;
  display: block;
}
.ordering__middle-item .circle2:before {
  right: -20%;
}

.ordering__middle-item .circle2:after {
  right: 8%;
}
.ordering__middle-item .circle3:after {
  right: 18%;
}
.ordering__middle-item > span.circle--dot:before,
.ordering__middle-item > span.circle--dot:after {
  position: absolute;
  border-radius: 50%;
  content: "";
  width: 6px;
  height: 6px;
  top: 50px;
  transform: translateY(50%);
  background-color: #c4c4c4;
}
.ordering__middle .ordering__middle-item:nth-child(5n):before,
.ordering__middle .ordering__middle-item:nth-child(5n):after,
.ordering__middle .ordering__middle-item:nth-child(5n) > span:before,
.ordering__middle .ordering__middle-item:nth-child(5n) > span:after {
  display: none;
}
/* ordering aftel elements dots */
.ordering__middle-item-icon-wrapper {
  margin: 0 auto 20px auto;
  width: 100px;
  height: 100px;
  background: #3e9cdc;
  border-radius: 50%;
  border: 5px solid #286690;
  position: relative;
}
.ordering__middle-item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ordering__middle-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}
.ordering__bottom {
  margin-top: 100px;
}
.select__wrapper {
  position: relative;
}
.arrow {
  position: absolute;
  top: 50%;
  right: 18px;

  width: 9px;
  height: 9px;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid #000;
  border-top: 1px solid #000;

  transform: translateY(-50%) rotate(225deg);
  z-index: 10;
}
/* form */
.form {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 55px;
}
.form__wrapper {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.form__row-item {
  height: 48px;
}
.form__row-item1 {
  grid-column: 1;
}
.form__row-item2 {
  grid-column: 2;
}
.form__row-item3 {
  grid-column: 3;
}
.form__row-item4 {
  grid-column: 1 / 3;
}
.form__row-item5 {
  grid-column: 3;
}
.form__row-item6 {
  grid-column: 2;
}
/* form Select */

.select input {
  display: none;
}

#text {
  position: absolute;
  display: block;
  top: 0;
  padding-left: 10px;
  display: block;
}
.items > label {
  transition: all 1s ease;
  height: 48px;
  line-height: 48px;
}
/* .select__wrapper {
  width: 32%;
} */
.select {
  display: inline-block;
  width: 100%;
  height: 48px;
  line-height: 30px;
  position: relative;
}

.select input[name="list"]:not(:checked) ~ #text {
  color: black;
  background: white;
}

.select input[name="list"]:checked ~ #text {
  background: transparent;
  color: transparent;
  z-index: 2;
}
.select input[name="list"]:checked + .arrow {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  transform: rotate(45deg);
}
.items {
  display: block;
  height: 194px;
  min-height: 30px;
  position: absolute;
  text-align: start;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
#select:checked ~ .items {
  border: 1px solid #3d4050;
  border-radius: 3px;
  /* height: 30px; */
}
#select:not(:checked) ~ .items {
  height: 48px;
}

.items label {
  display: none;
  padding-left: 10px;
  background: white;
}

.items label:hover {
  background: green;
  cursor: pointer;
}

#select:checked ~ .items {
  padding-top: 48px;
}

#select:checked ~ .items label {
  display: block;
}

.items input:checked + label {
  display: block !important;
  border: none;
  background: white;
}
.select-text {
  width: 100%;
  height: 48px;
  line-height: 48px;
}
#select:checked ~ .items .select-text {
  background-color: #272733 !important;
  color: #fff !important;
}
#select:checked ~ .items label {
  background-color: #272733 !important;
  color: #fff !important;
}
#select:checked ~ .items label:hover {
  color: #42a9ed !important;
}

/* Progress bar */
.ordering__p-bar {
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ordering__p-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
.ordering__p-ber-wrapper {
  position: relative;
}
.ordering__p-bar-bar {
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #fff;
  border-radius: 6px;
}
.ordering__p-bar-dot {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;
  background: #42a9ed;
  border: 3px solid #286690;
  border-radius: 50%;
}
/* btn attach */
#file-input {
  display: none;
}
.file-input__input {
  /* width: 0.1px;
  height: 0.1px; */
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  /* border-radius: 4px; */
  /* font-size: 14px; */
  /* font-weight: 600; */
  /* color: #fff; */
  /* font-size: 14px; */
  padding: 13px 12px;
  background-color: #fff;

  transition: all 1s ease;
  font-weight: 600;
  color: #272733;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid #3e9cdc;
  /* box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25); */
}
.file-input__label:hover {
  background-color: #3d4050;
  color: #fff;
}

/* .file-input__label svg { */
  /* height: 16px;
  margin-right: 4px; */
/* } */
/* footer */
.footer {
  padding: 30px 0;
  background-color: #3d4050;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}
.footer__wrapper,
.footer__item,
.footer__content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.footer__item {
  gap: 38px;
}
.footer--copy {
  padding-right: 40px;
}
.footer--mid {
  position: relative;
}
.footer--mid:before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #c3c3c3;
  width: 1px;
  height: 18px;
}
.footer--mid:after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #c3c3c3;
  width: 1px;
  height: 18px;
}
.footer--wallets {
  padding: 0 40px;
}
.footer--contacts {
  display: flex;
  margin-left: 40px;
  justify-content: flex-end;
  gap: 42px;
}
.footer__content-item {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer--copy,
.footer--contacts {
  color: #fff;
}
.footer--wallets {
  color: #c3c3c3;
}
/* footer */
/* form-celect */
.uppercase--text {
  text-transform: uppercase;
}

/* Responsive */


/* Portrait tablets and small desktops */

/* burger */
@media screen and (max-width: 991px) {
  .burger-btn {
    display: block;
  }
  .nav__content {
    display: none;
  }
  .menu-items {
    display: none;
  }
  .navbar {
    display: block;
  }
  .checkbox {
    display: block;
  }
  .hamburger-lines {
    display: block;
  }
  .nav-container {
    height: 62px;
  }
  .navbar .menu-items {
    padding-top: 104px;
    height: 100vh;
    width: 100%;
    transform: translate(250%);
    display: flex;
    flex-direction: column;
    /* transition: transform 0.5s ease-in-out; */
    text-align: center;
    right: -100%;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 0.722rem;
    font-weight: 500;
    text-align: start;
  }
  .main__title {
    width: 100%;
    text-align: center;
  }
  .main__bottom {
    padding: 0 50px;
  }
  .main__btns-wrapper {
    text-align: center;
  }
  .main__bottom-list {
    line-height: 1.9;
  }
  .ordering__middle {
    gap: 40px;
  }
  .ordering__middle-item {
    width: 35%;
  }
  .circle--dot:before,
  .circle--dot:after {
    display: none;
  }
  .form__wrapper {
    width: 100%;
  }
  .form__row-item1,
  .form__row-item2,
  .form__row-item3,
  .form__row-item4,
  .form__row-item5,
  .form__row-item6 {
    grid-column: 1/4;
  }
  .form__row-item6 {
    margin-top: 50px;
  }
  /* footer */
  .footer__wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .footer__item {
    width: 100%;
    margin: 30px auto 0 auto;
  }
  
  .footer--wallets {
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer--contacts {
    order: 2;
    justify-content: center;
  }
  .footer--copy {
    order: 3;
    padding-right: 0;
  }
  .footer__copy-content {
    margin: 0 auto;
  }
  .footer--mid:before,
  .footer--mid:after {
    display: none;
  }
}

